# Emacs
**/*~
**/\#*\#

# Executables
test

# Random files
.recon_wfbp.sh

# Parameter files
# Parameter file directory, except samples
# **/*.prm
prms/*
prms/*/
!/prms/samples/

# Object files
**/*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
test
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/